/* General rules */
html,body{padding:0;margin:0;font-size:1rem;background: #ecf0f5}
ul, li{padding:0; list-style: none;}
a:hover,a:visited,a:focus{text-decoration: none;}
textarea{resize: none;}

/*Application header and navigation*/
.app-header {
  background-color: #282c34;
  padding:1rem;
   color: white;
}
.app-header>.app-logo{display:inline-block;margin:0 1rem;}
.app-header>nav{display: inline-block;margin:0 1rem;vertical-align: middle;}
.app-header>nav>ul>li{display:inline-block; margin:0 1rem;   vertical-align: middle;}
.app-header a,.app-header a:hover,.app-header a:visited,.app-header a:focus{color:white; font-size: 1.2rem;}
.app-header>nav a.selected{border-bottom:3px solid #c3d1ec; color:#c3d1ec;}
.app-header>.user-data{ display: inline-block;  margin-top: 0.8rem;}
.body-container{ 
  min-height: calc(100vh - 90px - 3rem);
  align-items: center;
  margin-top:3rem;
}
/*End of App header and navigation styles*/

/**/
.form-container{background:white;margin-bottom:2rem;padding:1rem;border:1px solid #e6eaef;border-radius:3px;}
.menu-container .form-group .empty-lbl,.menu-container .form-group .data-lbl{font-style: italic;border-bottom:1px dashed #0088cc;font-weight: normal;display: inline-block}
.menu-container .form-group .empty-lbl{color:#dd1144;}
.menu-container .form-group .data-lbl{color:#0088cc}
/*Panel accordion styles AKA menu list*/
.menu-container{border:1px solid #e6eaef;border-top:3px solid #3c8dbc; background: white;border-radius:3px;padding: 0px 1rem;}
.menu-container .form-group label{display:block}
.panel {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.panel-default>.panel-heading{background:#a9f3d3;}
.panel-heading h4,.panel-heading h5{display:inline-block;}
.panel-body{    
  border-top: 0;
  background: #f5f5f5;
  margin:0 1rem;
}
.panel-body .panel-heading{background: #c8e9f3;border:1px solid #9ebac2;}

.panel-body .panel-body{margin:0;border:1px solid #9ebac2;}
/*End of Panel accordions styles*/

/*Buttons styles*/
.btn{margin:0px 5px;padding:0.5rem 1rem;}
.login-btn{
  padding: 0.5rem 5rem;
  margin: 1.5rem auto;
  display: block;
}
.btn-primary {
  background-color: #f39c12;
  border-color:#f39c12;
  color:white;
}
.btn-primary:active, .btn-primary:active:focus, .btn-primary:focus, .btn-primary:hover {
  background-color:#dd8e10!important;
  border-color:#dd8e10!important;
  color:white;
}
.btn-secondry{
  background-color: #dd4b39;
  border-color: #dd4b39;
  color:white;
 
}
.btn-secondry:active, .btn-secondry:active:focus, .btn-secondry:focus, .btn-secondry:hover {
  background-color:#b93d2e!important;
  border-color:#b93d2e!important;
  color:white;
}

.btn-forms{
  background-color: #00a65a;
  border-color: #00a65a;
  color:white;
 
}
.btn-forms:active, .btn-forms:active:focus, .btn-forms:focus, .btn-forms:hover {
  background-color:#039251!important;
  border-color:#039251!important;
  color:white;
}
/*End of Buttons styles*/